# Build artifacts
*.o
*.a
*.lo
*.la
.libs/
.deps/
src/frontend/mosh-client
src/frontend/mosh-server
src/include/config.h
src/include/stamp-h1
src/protobufs/*.pb.cc
src/protobufs/*.pb.h
autom4te.cache/
config.log
config.status
Makefile
src/Makefile
src/*/Makefile
scripts/Makefile
scripts/mosh
man/Makefile
conf/Makefile
libtool
stamp-h1
.direnv/
